body {
    background-image: url('img/desert.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'zabars', 'arial';
}


@font-face {
    font-family: 'zabars';
    src: url('fonts/Zabars.ttf');
  }
  
  div {
    font-family: zabars;
  }


.movement {
    background-color: rgb(128, 95, 5);
    width: 720px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.startScreen{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: start;

    background-image: url("./img/9.Intro _ Outro Image/Start Screen/Opción 1.png");
    background-size: 720px 480px;
    background-position: center;

    width: 720px;
    height: 480px;

}


canvas {
    background-color: black;
    display: block;
}


@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }

    .startScreen{
        width: 100%;

    }

    .movement{
        width: 100%;
    }

    .title{
        display: none;
    }
   
}

@media only screen and (max-height: 480px){
    canvas{
        height: 85vh;
    }

    .startScreen{
        height: 85vh;

    }



    .title{
        display: none;
    }
   
}





.displayNone{
    display: none;
}

